name: Build

on:
  schedule:
    - cron: '0 18 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install coreutils curl findutils gawk jq libjson-perl perl sed unzip zip

      - name: Cache version information
        run: |
          curl -L https://piston-meta.mojang.com/mc/game/version_manifest_v2.json | jq -r '.versions[0] | "\(.id)\t\(.url)"' > version_info.txt

      - name: Check update
        run: |
          if [ ! -f pack.mcmeta ]; then
            echo changes_exist=true >> $GITHUB_ENV
          else
            if [ $(jq -r .pack.description pack.mcmeta | sed -E 's/^.+\((.+)\)$/\1/') != $(cut -f1 version_info.txt) ]; then
              echo changes_exist=true >> $GITHUB_ENV
            fi
          fi

      - name: Validate update
        if: env.changes_exist == 'true'
        run: |
          if [ ! $(cut -f1 version_info.txt | grep -P '^\d{2}w\d{2}[a-z]$|^1(?:\.\d+){1,2}(?:-(?:pre|rc)\d+)?$|^(?:2[6-9]|[3-9]\d|[1-9]\d{2,})(?:\.\d+){1,2}(?:-(?:snapshot|pre|rc)-\d+)?$') ]; then
            echo changes_exist=false >> $GITHUB_ENV
          fi

      - name: Download client
        if: env.changes_exist == 'true'
        run: |
          cut -f2 version_info.txt | xargs curl -L | jq -r .downloads.client.url | xargs curl -Lo source.jar

      - name: Extract files
        if: env.changes_exist == 'true'
        run: |
          unzip source.jar assets/minecraft/lang/en_us.json version.json

      - name: Generate language file
        if: env.changes_exist == 'true'
        run: |
          ./generator/generate < assets/minecraft/lang/en_us.json > assets/minecraft/lang/key.json

      - name: Generate pack.mcmeta
        if: env.changes_exist == 'true'
        run: |
          jq -r '[.pack_version.resource_major,.pack_version.resource_minor,.id]|@tsv' version.json | awk '{print "sed -e \"s/#PACKFORMAT_MAJOR/"$1"/g\" -e \"s/#PACKFORMAT_MINOR/"$2"/g\" -e \"s/#VERSION/"$3"/g\" pack.mcmeta.example > pack.mcmeta"}' | bash

      - name: Get Minecraft version
        if: env.changes_exist == 'true'
        run: |
          echo "ver=$(cat version.json | jq -r .id)" >> "$GITHUB_ENV"

      - name: Update repository
        if: env.changes_exist == 'true'
        uses: EndBug/add-and-commit@v9
        with:
          add: 'assets/minecraft/lang/key.json pack.mcmeta'
          default_author: github_actions
          message: "${{ env.ver }}"
          tag: "${{ env.ver }}"

      - name: Create pack
        if: env.changes_exist == 'true'
        run: |
          zip -r keypack.zip assets/minecraft/lang/key.json pack.mcmeta

      - name: Release pack
        if: env.changes_exist == 'true'
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          files: |
            keypack.zip
          name: "${{ env.ver }}"
          tag_name: "${{ env.ver }}"
